<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'homeApp/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'homeApp/css/nav-bar.css' %}">
    <script type="text/javascript" src="{% static 'homeApp/js/main.js' %}"></script>
    <title>Main Page Mockup</title>
  </head>
  <body>

    <div id= "nav-wrapper" class="nav">
      <img id="nav-logo" src="https://static1.squarespace.com/static/54fe5d59e4b038fd96c9a7c5/550a1fa1e4b0fca40dc6f6b1/550a1fa3e4b03c7ec20696a1/1426726819527/Placeholder+Logo.png?format=300w" >
    </div>
<!--this is the end of nav  -->



  </body>
</html>
