<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    {% load staticfiles %}
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/logout">Logout</a>
    <div class="general">
      <h1>My Profile</h1>
      <img src="{% static "User_app/blankUser.png" %}" width="150" height="150"/>
      {% if profile %}
      {% for item in profile %}
      <h3>Contact Information</h3>
      <p>Email:  {{ item.user_id.email}}</p>
      <h3>General Information</h3>
      <p>Birthday: {{item.birthday}}</p>
      <p>Hometown: {{item.hometown}}</p>
      <p>Country: {{item.country}}</p>
      {% endfor %}
      {% else %}
      <form class="" action="/createProfile" method="post">
        {% csrf_token %}
        Birthday:
        <input type="date" name="birthday" value="">
        Hometown:
        <input type="text" name="hometown" value="">
        Country:
        <input type="text" name="country" value="">
        <input type="submit" name="" value="Submit">
      </form>
      {% endif %}

    </div>
    <div class="watch-list">
      <h2>Watchlist</h2>
        {% for movie in watchlist %}
        <p>--------------------------</p>
        <p>{{ movie.movie_title }}</p>
        <a href="movie/delete/watchlist/{{movie.id}}">Delete</a>
        <p>--------------------------</p>
        {%endfor%}
    </div>



  </body>
</html>
