<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>register here</h1>
    {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
    <!-- User registration form  -->
    <form class="register-form" action="/register_account" method="POST">
      {% csrf_token %}
      <p>First Name:</p><input type="text" name="first_name">
      <p>Last Name:</p><input type="text" name="last_name">
      <p>Email:</p><input type="email" name="email">
      <p>Password:</p><input type="password" name="password">
      <input type="submit" name="sumbit">

      <a href="/login">Login Here</a>

    </form>
  </body>
</html>
