.topMovies {
  width: 90%;
  display: inline-block;
}
.movie {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-bottom: 70px;
}
.nav-bar {
  text-align: right;
  margin-right: 20px;
}
.nav-bar a {
  text-decoration: none;
  padding-right: 7px;
}
