.cast-wrapper {
  width: 90%;
  display: inline-block;
}
.castMember {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin-bottom: 70px;
}
.summary {
  width: 500px;
}
.nav-bar {
  text-align: right;
  margin-right: 20px;
}
.nav-bar a {
  text-decoration: none;
  padding-right: 7px;
}
