<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Actors</title>
  </head>
  <body>
    <a href="/">Home</a>
    {% if request.session.user %}
    <a href="/logout">Logout</a>
    {% endif %}
    <h1>Discover Popular Actors</h1>
    <div class="cast-wrapper">
      {% for actor in actors %}
      <div class="castMember">
        <a href="/people/{{actor.id}}">
          <img style="width:100px" src="https://image.tmdb.org/t/p/w500{{actor.profile_path}}">
        </a>
        <p>{{actor.name}}</p>
      </div>
      {% endfor %}


    </div>
  </body>
</html>
