<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Episode Page</title>
  </head>
  <body>
    <a href="/">Home</a>
    {% if request.session.user %}
    <a href="/logout">Logout</a>
    {% endif %}
    <h2>{{tv_episode.name}}</h2>
    <img src="https://image.tmdb.org/t/p/w500{{tv_episode.still_path}}" alt="">
    <p>{{tv_episode.overview}}</p>
    <div class="review">
      <h3>Write a review of this episode:</h3>
      <form class="" action="/makeReview/{{id}}/{{season}}/{{episode}}" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="episode">
        <input type="number" max="100" name="score" value="">
        <textarea name="content" rows="8" cols="80" placeholder="Enter Your Comment Here"></textarea>
        <input type="submit" name="" value="Submit">

      </form>

        <!-- {% for review in reviews %}
        <div class="review">
          <p>========================</p>
          <h1>{{review.score}}</h1>
          <h2>{{review.user_id.first_name}} says:</h2>
          <p>{{review.content}}</p>
          <p>========================</p>
        </div>
        {% endfor %} -->

    </div>


  </body>
</html>
