<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    {% if request.session.user %}
    <a href="/logout">Logout</a>
    {% endif %}
    <h2>This is the Movie Home page</h2>
    <h1>Discover Movies</h1>
    <!-- <form class="testing" action="/testing" method="post">
      {% csrf_token %}
      <input type="submit">
    </form> -->
    {% for movie in result %}
    <div class="movie">
      <a href="/movie/{{ movie.id }}">
        <img style="width:100px"src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" >
      </a>
      <p>{{ movie.title }}</p>

    </div>
    {% endfor %}
  </div>

  </body>
</html>
