<!DOCTYPE html>
<!-- image path https://image.tmdb.org/t/p/w500 -->

<html>
  <head>
    <meta charset="utf-8">
    <title>Movie</title>
  </head>
  <body>
    <div class="nav-bar">
      <a href="/">Home</a>
    </div>

    <h1>This will be the page that has to do with individual movies</h1>
      <p>{{ movie.title }}</p>
      <img style="width:200px" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" >
    <h3>Summary</h3>
      <p>{{ movie.overview }}</p>

    <h3>cast</h3>
    <div class="cast-wrapper">
      {% for person in cast.cast|slice:":10" %}
      <a href="/people/{{person.id}}">
        <img style="width:50px" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}">
      </a>
      <p>{{person.name}}</p>
      {% endfor %}


    </div>
  </body>
</html>
