<!DOCTYPE html>
<!-- image path https://image.tmdb.org/t/p/w500 -->

<html>
  <head>
    <meta charset="utf-8">
    <title>Movie</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'movieApp/movies.css' %}">
  </head>
  <body>
    <div class="nav-bar">
      <a href="/">Home</a>
      {% if request.session.user %}
      <a href="/logout">Logout</a>
      {% endif %}
    </div>

    <h1>{{ movie.title }}</h1>
    <img style="width:200px" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" >

    <form class="add_to_watchlist" action="/movie/add/watchlist/{{movie.id}}" method="post">
        {% csrf_token %}
        <input type="submit" name="add_to_watchlist" value="Add to Watchlist">
      </form>

    <div class="summary">
      <h3>Summary</h3>
      <p>{{ movie.overview }}</p>
    </div>

    <h3>cast</h3>
    <div class="cast-wrapper">
      {% for person in cast.cast|slice:":10" %}
      <div class="castMember">
        <a href="/people/{{person.id}}">
          <img style="width:100px" src="https://image.tmdb.org/t/p/w500{{person.profile_path}}">
        </a>
        <p>{{person.name}}</p>
      </div>
      {% endfor %}


    </div>
  </body>
</html>
