<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/tv_home">TV Home</a>
    {% if request.session.user %}
    <a href="/logout">Logout</a>
    {% endif %}
    <h1>{{ show.name }}</h1>
    <img style="width:200px" src="https://image.tmdb.org/t/p/w500{{show.backdrop_path}}" >
    <ul>
      {%for season in show.seasons%}
      <li><a href="/season/{{show.id}}/{{season.season_number}}">Season {{season.season_number}}</a></li>
      {% endfor %}
    </ul>
    <div class="review">
      <h3>Write a review of this show:</h3>
      <form class="" action="/makeReview/{{id}}/0/0" method="post">
        {% csrf_token %}
        <input type="hidden" name="type" value="tv">
        <input type="number" max="100" name="score" value="">
        <textarea name="content" rows="8" cols="80" placeholder="Enter Your Comment Here"></textarea>
        <input type="submit" name="" value="Submit">

      <!-- </form> -->

        {% for review in reviews %}
        <div class="review">
          <p>========================</p>
          <h1>{{review.score}}</h1>
          <h2>{{review.user_id.first_name}} says:</h2>
          <p>{{review.content}}</p>
          <p>========================</p>
        </div>
        {% endfor %}

    </div>

  </body>
</html>
